apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../system/cilium
  - cilium-secret.sops.yaml

  - ../../../system/tailscale-operator
  - tailscale-secret.sops.yaml

  - ../../../system/cloudflared
  - cloudflare-tunnel-secret.sops.yaml

  - ../../../system/cloudnative-pg
  - ../../../system/redis-operator

patches:
  - path: cilium-patch.yaml
    target:
      kind: HelmRelease
      name: cilium
      namespace: kube-system
