apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../system/cloudnative-pg
  - ../../../system/redis-operator
  - ../../../system/external-secrets
  - ../../../system/reloader

  - ../../../system/tailscale-operator
  - tailscale-secret.sops.yaml
  - ../../../system/cert-manager
  - cert-manager-cloudflare-secret.sops.yaml
  - ../../../system/external-dns
  - external-dns-cloudflare-secret.sops.yaml

  - ../../../system/vm-stack
  - vm-stack-auth.sops.yaml

patches:
  - path: vm-stack-patch.yaml
    target:
      kind: HelmRelease
      name: vm-stack
      namespace: monitoring
