apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../system/cloudnative-pg
  - ../../../system/external-secrets
  - ../../../system/reloader
  - victoria-metrics
  - connectivity
  - redis-operator
