apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../system/cloudnative-pg
  - ../../../system/redis-operator
  - ../../../system/external-secrets
  - ../../../system/reloader

  - ../../../system/tailscale-operator
  - tailscale-secret.sops.yaml

  - ../../../system/cloudflared-tunnel
  - cloudflare-tunnel-secret.sops.yaml
  - ../../../system/cert-manager
  - cert-manager-cloudflare-secret.sops.yaml

patches:
  - path: cilium-patch.yaml
    target:
      kind: HelmRelease
      name: cilium
      namespace: kube-system
