apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # - ../../../system/cert-manager
  # - ../../../system/cilium
  # - ../../../system/cloudnative-pg
  # - ../../../system/redis-operator
  # - ../../../system/tailscale-operator
