apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - postgres-cluster.yaml
  - redis-instance.yaml
  - secret.yaml
  - service.yaml
  - deployment.yaml
  - ingress.yaml
