apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../core/cilium
  - secrets/cilium-secret.sops.yaml 
  # - ../../../../core/cert-manager
  # - ../../../../core/cloudnative-pg
  # - ../../../../core/longhorn
  # - ../../../../core/redis-operator
  # - ../../../../core/tailscale-operator

patches:
  - path: patches/cilium.yaml
    target:
      kind: HelmRelease
      name: cilium
      namespace: kube-system
