apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../core/cilium
  - secrets/cilium-secret.sops.yaml

  # - ../../../../core/cert-manager
  # - secrets/cloudflare-secret.sops.yaml

  - ../../../../core/tailscale-operator
  - secrets/tailscale-secret.sops.yaml

  # - ../../../../core/longhorn
  # - ../../../../core/traefik

  # - ../../../../core/cloudnative-pg
  # - ../../../../core/redis-operator

  - ../../../../core/cloudflared
  - secrets/cloudflare-tunnel-secret.sops.yaml

patches:
  - path: patches/tailscale.yaml
    target:
      kind: HelmRelease
      name: tailscale
      namespace: tailscale
  - path: patches/cilium.yaml
    target:
      kind: HelmRelease
      name: cilium
      namespace: kube-system
  # - path: patches/helmrelease-timeout.yaml
  #   target:
  #     kind: HelmRelease
  #     name: traefik
  #     namespace: traefik
  - path: patches/helmrelease-timeout.yaml
    target:
      kind: HelmRelease
      name: longhorn
      namespace: longhorn-system
