apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../core/cilium
  # - ../../../../core/cert-manager
  # - ../../../../core/cloudnative-pg
  # - ../../../../core/longhorn
  # - ../../../../core/redis-operator
  # - ../../../../core/tailscale-operator

patches:
  - path: patches/cilium-patch.sops.yaml
    target:
      kind: HelmRelease
      name: cilium
      namespace: kube-system
