apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://charts.longhorn.io'
    chart: longhorn
    targetRevision: 1.10.0
    helm:
      skipCrds: false
      parameters:
        - name: preUpgradeChecker.jobEnabled
          value: "false"
      valuesObject:
        persistence:
          defaultClass: true
          defaultClassReplicaCount: "2"
        service:
          ui:
            type: ClusterIP
        defaultSettings:
          backupTarget: ""
          defaultReplicaCount: "2"
          guaranteedInstanceManagerCpu: "10"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: longhorn-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m