apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../platform/vm-stack
  - vm-stack-auth.sops.yaml

  - external-targets.yaml

  - ../../../platform/gatus

  # - ../../../platform/victoria-logs
  # - dashboards/victorialogs.yaml

patches:
  - path: vm-stack-patch.yaml
    target:
      kind: HelmRelease
      name: vm-stack
      namespace: monitoring
  - path: gatus-patch.yaml
    target:
      kind: HelmRelease
      name: gatus
      namespace: gatus
