apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../platform/cloudflared-tunnel
  - cloudflare-tunnel-secret.sops.yaml

  - ../../../platform/gatus

  - cluster-issuer.yaml
  - edge-nodes.yaml

patches:
  - path: gatus-patch.yaml
    target:
      kind: HelmRelease
      name: gatus
      namespace: gatus
