apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../platform/vm-stack
  - ../../../platform/victoria-logs
  - vm-stack-auth.yaml

patches:
  - path: vm-stack-patch.yaml
    target:
      group: helm.toolkit.fluxcd.io
      version: v2beta1
      kind: HelmRelease
      name: vm-stack
      namespace: monitoring
