apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../platform/cloudflared-tunnel
  - cloudflare-tunnel-secret.sops.yaml

  - ../../../platform/coder
  - coder-eso.yaml
  - coder-auth.sops.yaml
  - coder-apps-ingress.yaml

  - ../../../platform/gatus
  - gatus-eso.yaml

  - cluster-issuer.yaml
  - edge-scrape.yaml

  - ../../../platform/victoria-logs
patches:
  - path: gatus-patch.yaml
  - path: coder-patch.yaml
