apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tailscale-operator
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    # Source 1: Helm Chart from official repository
    - repoURL: 'https://pkgs.tailscale.com/helmcharts'
      chart: tailscale-operator
      targetRevision: 1.88.3
      helm:
        valuesObject:
          # OAuth credentials are managed via SealedSecret
          # See manifests/oauth-sealed-secret.yaml
          # The secret named "operator-oauth" will be created by the SealedSecret
          apiServerProxyConfig:
            mode: "true"

    # Source 2: Additional manifests from Git (SealedSecret)
    - repoURL: 'git@github.com:SimpleLumine/k8s-gitops.git'
      targetRevision: HEAD
      path: environments/us-west/cluster-infra/tailscale-operator/manifests

  destination:
    server: 'https://kubernetes.default.svc'
    namespace: tailscale
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true