---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBA+spM/ZmgsjfCYUQ0JWvNu4Qq0PHI48m6EkbmIrXzoaCUAd7nJT3jPV1UnwpVdLzC0mpiJUCtu72mQNWl5OpjeQoaO3DpB3/0jlYuFjJb//ZroGbnUwlC9hhUVVIBfIlwT5fvRQnnGEsLr5aSGVuRnycdWxmvylKj1XGZuyChWsBB8PVepAQ0vk65Bl7Vq6E1wbDZlC4JPBIgys2+32JuowD4vyjSiqZ8/xd2FI8el4dXuvfJOoqbNm601+4qWaEPgy7uWg9nxDDU1Sl5PDB/TPXVeCW4PCKZsQ3x4UnEaRg7pESDe5uAecw5z8pvHalrwVXgg3FtaTwY2a1w2Joi7VE5hKchkvxjKOGdCTkCUdEGJgn5x5Kwu86E5zfBOBRW2h+QH48LnSc1JA4e7U0OtEBJCuIaDNRjLljiBe9C2KU7lCsmJO1+XwNe3j6BwWIkOwX7gRkba/MIYizyhaImdxaYZ6ydiropKwy/t3/nqIqEwT6iSp6HScwIeTSMo5SltwFbKzGwItnUUxrDBxBA4l4JCFhoWF2xTCCc5M2tmMDFU996lUA8br1uhoYZ+4mvQ6hXZY91Jl5zVk3jbHV7J9JgzFd36LKSoBXxmTk7UNsNmf91KHSoDWkWQ7cH3dKtVb9Cn3Pb/hO181Wk4/ivUkUSfnmL5INfXca/g+ogZwaFdmIJVHHoDDRdjE3Ocza6MoQDTI7YZi1OeBgYoQWFGLE0abCZ9L7H8ahic8PoRBrFUMCUs7ME
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
