apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tailscale-operator
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://pkgs.tailscale.com/helmcharts'
    chart: tailscale-operator
    targetRevision: 1.88.3 
    helm:
      valuesObject:
        oauth:
          clientId: "k9T65bye1j11CNTRL"
          clientSecret: "tskey-client-k9T65bye1j11CNTRL-BitkBvV9MBA19o16tnorAA8QPdcb7y6w"
        apiServerProxyConfig:
          mode: "true"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: tailscale
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true